fastapi
uvicorn
langgraph
langchain
langchain-core
langchain-openai
openai
langchain-groq
pydantic
python-dotenv
pinecone
duckduckgo-search
beautifulsoup4
requests
google-genai
groq
python-multipart
langchain-google-genai
geopy
firebase-admin
certifi
reportlab
Pillow
cloudinary
supabase
pypdf